body{
  background-color: #FFFFFF;
}

.mvv-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding-bottom: 30px;
}

.mvv-image img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mvv-text {
  max-width: 600px;
}

.mvv-text h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #FE9101;
}

.mvv-text p, .mvv-text li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
  .mvv-section {
    flex-direction: column;
    text-align: center;
  }

  .mvv-image img {
    width: 80%;
    max-width: 300px;
  }
}
